@using Tecnostore.com.Models.Admin;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Reviews";
    ViewData["ActivePage"] = LayoutAdmin.Review;
}
<div class="table max">
    <div class="head">
        <p><ion-icon name="person-outline"></ion-icon>Producto</p>
        <p><ion-icon name="mail-outline"></ion-icon>Nombre</p>
        <p><ion-icon name="calendar-clear-outline"></ion-icon>Reseña</p>
        <p><ion-icon name="stats-chart-outline"></ion-icon>Calificación</p>
        <p><ion-icon name="cash-outline"></ion-icon>Fecha</p>
        <p> </p>
    </div>
    <div class="row">
        <p>123</p>
        <p>Monitor 14"</p>
        <p>Monitores</p>
        <p>$2500.00</p>
        <p>2023-08-16</p>
        <div class="btn-item-table"><ion-icon name="ellipsis-vertical"></ion-icon>
            <div class="manage-item">
                <a><ion-icon name="trash-outline"></ion-icon> Borrar</a>
                <a><ion-icon name="create-outline"></ion-icon> Editar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <p>123</p>
        <p>Monitor 14"</p>
        <p>Monitores</p>
        <p>$2500.00</p>
        <p>2023-08-16</p>
        <div class="btn-item-table"><ion-icon name="ellipsis-vertical"></ion-icon>
            <div class="manage-item">
                <a><ion-icon name="trash-outline"></ion-icon> Borrar</a>
                <a><ion-icon name="create-outline"></ion-icon> Editar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <p>123</p>
        <p>Monitor 14"</p>
        <p>Monitores</p>
        <p>$2500.00</p>
        <p>2023-08-16</p>
        <div class="btn-item-table"><ion-icon name="ellipsis-vertical"></ion-icon>
            <div class="manage-item">
                <a><ion-icon name="trash-outline"></ion-icon> Borrar</a>
                <a><ion-icon name="create-outline"></ion-icon> Editar</a>
            </div>
        </div>
    </div>
</div>