@{
    ViewData["Title"] = "Términos y condiciones";
}
<div class="container heading-term">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p class="text-center secondary">Última actualización: 25 de noviembre de 2023</p>
</div>
<div class="container indice tag-middle-white">
    <p>Índice</p>
    <ul>
        <li><a href="#1">1. TÉRMINOS DE LA TIENDA ONLINE</a></li>
        <li><a href="#2">2. CONDICIONES GENERALES</a></li>
        <li><a href="#3">3. EXACTITUD, TOTALIDAD Y CRONOLOGÍA DE LA INFORMACIÓN</a></li>
        <li><a href="#4">4. MODIFICACIONES AL SERVICIO Y PRECIOS</a></li>
        <li><a href="#5">5. PRODUCTOS O SERVICIOS (si corresponde)</a></li>
        <li><a href="#6">6. EXACTITUD DE LA FACTURACIÓN Y DE LA INFORMACIÓN DE LA CUENTA</a></li>
        <li><a href="#7">7. HERRAMIENTAS OPCIONALES</a></li>
        <li><a href="#8">8. ENLACES DE TERCEROS</a></li>
        <li><a href="#9">9. COMENTARIOS DE LOS USUARIOS, OPINIONES Y OTRAS COMUNICACIONES</a></li>
        <li><a href="#10">10. INFORMACIÓN PERSONAL</a></li>
        <li><a href="#11">11. ERRORES, INEXACTITUDES Y OMISIONES</a></li>
        <li><a href="#12">12. USOS PROHIBIDOS</a></li>
        <li><a href="#13">13. DESCARGO DE RESPONSABILIDAD DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD</a></li>
        <li><a href="#14">14. INDEMNIZACIÓN</a></li>
        <li><a href="#15">15. DIVISIBILIDAD</a></li>
        <li><a href="#16">16. RESCISIÓN</a></li>
        <li><a href="#17">17. ACUERDO COMPLETO</a></li>
        <li><a href="#18">18. LEY APLICABLE</a></li>
        <li><a href="#19">19. CAMBIOS EN LOS TÉRMINOS DEL SERVICIO</a></li>
        <li><a href="#20">20. INFORMACIÓN DE CONTACTO</a></li>
    </ul>
    <p>TecnoStore gestiona este sitio web. En todo el sitio, los términos <strong>"nosotros"</strong>, <strong>"nos"</strong> y <strong>"nuestro"</strong> se refieren en lo sucesivo a TecnoStore. TecnoStore ofrece esta página web, incluida toda la información, las herramientas y los servicios que se ponen en este sitio a disposición suya, el usuario, siempre y cuando acepte la totalidad de los términos, condiciones, políticas y avisos contemplados aquí.</p>
    <p>Al visitar nuestro sitio y/o comprarnos algo, usted interactúa con nuestro <strong>"Servicio"</strong> y reconoce como vinculantes los siguientes términos y condiciones (denominados en lo sucesivo <strong>"Términos del servicio"</strong>, <strong>"Términos"</strong>), incluidos aquellos términos y condiciones adicionales y las políticas que se mencionan aquí y/o disponibles por medio de hipervínculo. Estos Términos del servicio se aplican a todos los usuarios del sitio, incluyendo de manera enunciativa mas no limitativa los usuarios que son navegadores, proveedores, clientes, comerciantes y/o que aporten contenido.
    Lea estos Términos del servicio detenidamente antes de acceder o utilizar nuestra página web. Al acceder o utilizar cualquier parte del sitio, usted acepta estos Términos del servicio. Si no acepta la totalidad de los términos y condiciones de este acuerdo, no podrá acceder al sitio web ni utilizar ningún servicio. Si estos Términos del servicio se considerasen una oferta, la aceptación se limita expresamente a los presentes Términos del servicio.</p>
    <p>Las nuevas funciones o herramientas que se agreguen a la tienda actual también estarán sujetas a los Términos del servicio. Puede revisar la versión más reciente de los Términos del servicio en cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los presentes Términos del servicio mediante la publicación de actualizaciones o cambios en nuestra página web. Es su responsabilidad revisar esta página periódicamente para ver los cambios. Su uso de la página web o el acceso a ella de forma continuada después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.
    Nuestra tienda está alojada en Shopify Inc. Nos proporcionan la plataforma de comercio electrónico en línea que nos permite venderle nuestros productos y servicios.</p>
</div>
<div class="container indice text-left">
    <h4 class="display-4 dark" id="1">SECCIÓN 1: TÉRMINOS DE LA TIENDA ONLINE</h4>
        <p>1. Al aceptar los presentes Términos del servicio, usted declara que tiene la mayoría de edad en su estado o provincia de residencia, o que es mayor de edad en su estado o provincia de residencia y que nos ha dado su consentimiento para permitir que cualquiera de las personas menores que dependen de usted utilice este sitio.</p>
        <p>2. No puede utilizar nuestros productos para ningún fin ilegal o no autorizado ni puede, al hacer uso del Servicio, infringir las leyes de su jurisdicción (incluyendo de manera enunciativa más no limitativa, las leyes de derechos de autor).</p>
        <p>3. No transmitirá ningún gusano o virus informáticos ni ningún código de naturaleza destructiva.</p>
        <p>4. El incumplimiento o violación de cualquiera de los Términos dará como resultado la rescisión inmediata de sus Servicios.</p>
    
    <h4 class="display-4 dark" id="2">SECCIÓN 2: CONDICIONES GENERALES</h4>
    <p>1. Nos reservamos el derecho de rechazar el servicio a cualquier persona, por cualquier motivo, en cualquier momento.</p>
    <p>2. Usted comprende que su contenido (sin incluir la información de la tarjeta de crédito) puede transferirse sin cifrar e implicar (A) transmisiones en varias redes; y (B) cambios para adaptarse a los requisitos técnicos de conexión de redes o dispositivos y cumplir con ellos.</p>
    <p>3. La información de la tarjeta de crédito siempre se cifra durante la transferencia a través de las redes.</p>
    <p>4. Usted acepta no reproducir, duplicar, copiar, vender, revender ni aprovechar ninguna parte del Servicio, uso del Servicio o acceso al Servicio o cualquier contacto en el sitio web a través de la cual se presta el servicio, sin nuestro permiso expreso por escrito.</p>
    <p>5. Los encabezados utilizados en este acuerdo se incluyen solo para facilitar la lectura y no limitarán ni afectarán los presentes Términos.</p>
    
    <h4 class="display-4 dark" id="3">SECCIÓN 3: EXACTITUD, TOTALIDAD Y CRONOLOGÍA DE LA INFORMACIÓN</h4>
    <p>1. No nos responsabilizamos si la información disponible en este sitio no es precisa, completa o actualizada.</p>
    <p>2. El material presentado en este sitio se proporciona solo para información general y no se debe confiar en él ni utilizarlo como la única base para tomar decisiones sin consultar fuentes de información principales, más precisas, más completas o más recientes.</p>
    <p>3. Al confiar en cualquier material de este sitio lo hace por su cuenta y riesgo.</p>
    <p>4. Este sitio puede contener cierta información histórica.</p>
    <p>5. La información histórica, inevitablemente, no es actual y se proporciona únicamente como referencia</p>
    <p>6. Nos reservamos el derecho de modificar el contenido de este sitio en cualquier momento, pero no tenemos la obligación de actualizar ninguna información en nuestro sitio.</p>
    <p>7. Usted acepta que es su responsabilidad controlar los cambios en nuestro sitio.</p>
    
    <h4 class="display-4 dark" id="4">SECCIÓN 4: MODIFICACIONES AL SERVICIO Y PRECIOS</h4>
    <p>1. Los precios de nuestros productos están sujetos a cambios sin previo aviso.</p>
    <p>2. Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte o contenido del mismo) sin previo aviso en cualquier momento.</p>
    <p>3. No seremos responsables ante usted ni ante ningún tercero por ninguna modificación, cambio de precio, suspensión o interrupción del Servicio.</p>
    
    <h4 class="display-4 dark" id="5">SECCIÓN 5: PRODUCTOS O SERVICIOS (si corresponde)</h4>
    <p>1. Ciertos productos o servicios pueden estar disponibles exclusivamente online a través del sitio web.</p>
    <p>2. Estos productos o servicios pueden tener cantidades limitadas y están sujetos a devolución o cambio solo de acuerdo con nuestra Política de devolución.</p>
    <p>3. Hemos hecho todo lo viable para mostrar con la mayor precisión posible los colores y las imágenes de nuestros productos que aparecen en la tienda.</p>
    <p>4. No podemos garantizar que la visualización de cualquier color en el monitor de su computadora sea precisa.</p>
    <p>5. Nos reservamos el derecho, pero no estamos obligados, de limitar las ventas de nuestros productos o servicios a cualquier persona, región geográfica o jurisdicción.</p>
    <p>6. Podemos ejercer este derecho caso por caso.</p>
    <p>7. Nos reservamos el derecho de limitar las cantidades de cualquier producto o servicio que ofrecemos.</p>
    <p>8. Todas las descripciones de los productos o los precios de los productos están sujetos a cambios en cualquier momento y sin previo aviso, a nuestra entera discreción.</p>
    <p>9. Nos reservamos el derecho de discontinuar cualquier producto en cualquier momento.</p>
    <p>10. Cualquier oferta de cualquier producto o servicio que se realice en este sitio no tiene validez donde dicho producto o servicio esté prohibido.</p>
    <p>10. No garantizamos que la calidad de cualquier producto, servicio, información u otro material que usted haya comprado u obtenido cumplirá con sus expectativas, o que cualquier error en el Servicio se corregirá.</p>
    
    <h4 class="display-4 dark" id="6">SECCIÓN 6: EXACTITUD DE LA FACTURACIÓN Y DE LA INFORMACIÓN DE LA CUENTA</h4>
    <p>1. Nos reservamos el derecho de rechazar cualquier pedido que realice en nuestra tienda.</p>
    <p>2. Podemos, a nuestro exclusivo criterio, limitar o cancelar las cantidades compradas por persona, por hogar o por pedido.</p>
    <p>3. Estas restricciones pueden incluir pedidos realizados con la misma cuenta de cliente, la misma tarjeta de crédito o pedidos que usen la misma dirección de facturación o de envío.</p>
    <p>4. En el caso de que realicemos un cambio o cancelemos un pedido, intentaremos notificarle vía correo electrónico o la dirección de facturación / número de teléfono proporcionados en el momento en que se realizó el pedido.</p>
    <p>5. Nos reservamos el derecho de limitar o prohibir los pedidos que, a nuestra entera discreción, parezcan haber sido realizados por comerciantes, revendedores o distribuidores.</p>
    <p>6. Usted acepta actualizar rápidamente su cuenta y demás informaciones, entre ellas, su dirección de correo electrónico, los números de tarjeta de crédito y las fechas de vencimiento, para que podamos completar sus transacciones y contactarlo según sea necesario.</p>
    <p>7. Usted acepta suministrar información completa y precisa de la compra y cuenta actual, para todas las compras realizadas en nuestra tienda.</p>
    <p>8. Para obtener más información, consulte nuestra Política de devoluciones.</p>
    
    <h4 class="display-4 dark" id="7">SECCIÓN 7: HERRAMIENTAS OPCIONALES</h4>
    <p>1. Podemos proporcionarle acceso a herramientas de terceros que no supervisamos, ni tenemos ningún control sobre ellas, ni tampoco contribuimos.</p>
    <p>2. Usted reconoce y acepta que brindamos acceso a dichas herramientas <strong>"tal como se encuentran"</strong> y <strong>"según disponibilidad"</strong> sin garantías, representaciones ni condiciones de ningún tipo y sin ningún tipo de respaldo.</p>
    <p>3. No tendremos ninguna responsabilidad como consecuencia del uso que haga de herramientas opcionales de terceros o en relación a ellas.</p>
    <p>4. Cualquier uso que haga de las herramientas opcionales ofrecidas a través del sitio es por su cuenta y riesgo, y debe asegurarse de estar familiarizado con los términos según los cuales los proveedores externos relevantes suministran dichas herramientas y aprobarlos.</p>
    <p>5. También podemos, en el futuro, ofrecer nuevos servicios o funciones a través del sitio web (incluido el lanzamiento de nuevas herramientas y recursos).</p>
    <p>6. Estas nuevas funciones o servicios también estarán sujetos a los presentes Términos de servicio.</p>
    
    <h4 class="display-4 dark" id="8">SECCIÓN 8: ENLACES DE TERCEROS</h4>
    <p>1. Algunos contenidos, productos y servicios disponibles a través de nuestro Servicio pueden incluir recursos de terceros.</p>
    <p>2. Los enlaces de terceros en este sitio pueden dirigirlo a páginas web de terceros que no están afiliados a nosotros.</p>
    <p>3. No somos responsables de examinar o evaluar el contenido o la exactitud, ni garantizamos ni asumiremos ninguna obligación ni responsabilidad por los recursos o páginas web de terceros, ni por ningún otro material, producto o servicio de terceros.</p>
    <p>4. No somos responsables de ningún daño o perjuicio relacionado con la compra o el uso de bienes, servicios, recursos, contenido o cualquier otra transacción realizada en conexión con sitios web de terceros.</p>
    <p>5. Revise cuidadosamente las políticas y prácticas de terceros, y asegúrese de comprenderlas antes de participar en cualquier transacción.</p>
    <p>6. Las quejas, reclamos, inquietudes o preguntas referentes a productos de terceros deben dirigirse a estos.</p>
    
    <h4 class="display-4 dark" id="9">SECCIÓN 9: COMENTARIOS DE LOS USUARIOS, OPINIONES Y OTRAS COMUNICACIONES</h4>
    <p>1. Si, a petición nuestra, usted envía ciertas comunicaciones específicas (por ejemplo, participaciones en un concurso) o, sin una solicitud nuestra, envía ideas creativas, sugerencias, propuestas, planes u otros materiales, ya sea online, por correo electrónico, por correo postal, o de otro modo (denominado en lo sucesivo y de manera colectiva, 'comentarios'), usted acepta que podemos, en cualquier momento, sin restricción: editar, copiar, publicar, distribuir, traducir y usar en cualquier medio cualquier comentario que usted nos envíe.</p>
    <p>2. No tenemos ni tendremos ninguna obligación (1) de mantener ningún comentario de manera confidencial; (2) pagar alguna compensación por cualquier comentario; o (3) responder a cualquier comentario.</p>
    <p>3. Podemos, pero no tenemos la obligación de monitorear, editar o eliminar contenido que a nuestra entera discreción determinemos que es ilegal, ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno u objetable, o que infrinja la propiedad intelectual de cualquiera de las partes o de los presentes Términos del servicio.</p>
    <p>4. Usted acepta que sus comentarios no infringirán ningún derecho de terceros, incluidos los derechos de autor, marca registrada, privacidad, personalidad u otro derecho personal o de propiedad.</p>
    <p>5. Además, acepta que sus comentarios no contendrán material difamatorio, ilegítimo, abusivo u obsceno, ni contendrán ningún virus informático ni otro software dañino que pueda afectar de cualquier manera el funcionamiento del Servicio o de cualquier sitio web relacionado.</p>
    <p>6. No puede utilizar una dirección de correo electrónico falsa, simular ser otra persona o engañarnos o engañar a terceros sobre el origen de los comentarios.</p>
    <p>7. Usted es el único responsable de los comentarios que realice y de su exactitud.</p>
    <p>8. No asumimos ninguna responsabilidad ni ninguna obligación por los comentarios publicados por usted o por un tercero.</p>

    <h4 class="display-4 dark" id="10">SECCIÓN 10: INFORMACIÓN PERSONAL</h4>
    <p>El envío de la información personal que haga a través de la tienda se rige por nuestra Política de privacidad. Para ver nuestra Política de privacidad.</p>
    
    <h4 class="display-4 dark" id="11">SECCIÓN 11: ERRORES, INEXACTITUDES Y OMISIONES</h4>
    <p>1. Puede haber información en nuestro sitio o en el Servicio que, ocasionalmente, contenga errores tipográficos, inexactitudes u omisiones que puedan relacionarse con descripciones de productos, precios, promociones, ofertas, cargos por envío de productos, tiempos de tránsito y disponibilidad.</p>
    <p>2. Nos reservamos el derecho de corregir cualquier error, inexactitud u omisión, de cambiar o actualizar información, o cancelar pedidos si alguna información en el Servicio o en cualquier página web relacionada es inexacta en cualquier momento sin previo aviso (incluso después de haber enviado su pedido).</p>
    <p>3. No asumimos ninguna obligación de actualizar, modificar o aclarar la información en el Servicio o en cualquier sitio web relacionado, incluyendo de manera enunciativa pero no limitativa, la información de precios, excepto cuando lo exija la ley.</p>
    <p>4. Ninguna actualización especificada o fecha de actualización aplicada en el Servicio o en cualquier sitio web relacionado debe tomarse para indicar que toda la información en el Servicio o en cualquier sitio web relacionado se modificó o actualizó.</p>
    
    <h4 class="display-4 dark" id="12">SECCIÓN 12: USOS PROHIBIDOS</h4>
    <p>1. Además de las prohibiciones establecidas en los Términos del servicio, se le prohíbe utilizar el sitio o su contenido (a) para cualquier propósito ilegal; (b) para solicitar a otros que realicen o participen en cualquier acto ilegal; (c) para infringir cualquier reglamento, norma, ley u ordenanza local internacional, federal, provincial o estatal; (d) para infringir o violar nuestros derechos de propiedad intelectual o los derechos de propiedad intelectual de otros; (e) acosar, abusar, insultar, dañar, difamar, calumniar, denigrar, intimidar o discriminar por motivos de género, orientación sexual, religión, etnia, raza, edad, nacionalidad o discapacidad; (f) enviar información falsa o engañosa;
    (g) cargar o transmitir virus o cualquier otro tipo de código dañino que afecte o pueda afectar a la funcionalidad o el funcionamiento del Servicio o de cualquier sitio web relacionado, de otros sitios web o de Internet; (h) recopilar o rastrear la información personal de otros; (i) enviar correo no deseado, phishing, pharm, pretexto, spider, rastrear o extraer; (j) para cualquier propósito obsceno o inmoral; o (k) para interferir o eludir las funciones de seguridad del Servicio o de cualquier sitio web relacionado, o de otros sitios web o de Internet.</p>
    <p>2. Nos reservamos el derecho de dar por terminado su uso del Servicio o de cualquier sitio web relacionado por infringir cualquiera de los usos prohibidos.</p>
    
    <h4 class="display-4 dark" id="13">SECCIÓN 13: DESCARGO DE RESPONSABILIDAD DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD</h4>
    <p>1. No garantizamos, representamos ni aseguramos que el uso que haga de nuestro servicio será sin interrupciones, oportuno, seguro o sin errores.</p>
    <p>2. No garantizamos que los resultados que se puedan obtener del uso del servicio sean exactos o confiables.</p>
    <p>3. Usted acepta que periódicamente, podamos eliminar el servicio por lapsos de tiempo indefinidos o cancelar el servicio en cualquier momento, sin notificarle.</p>
    <p>4. Usted acepta expresamente que su uso del servicio o la imposibilidad de utilizarlo corre por su riesgo. El servicio y todos los productos y servicios que se le entregan a través del servicio (salvo que así lo especifiquemos nosotros) se ofrecen "tal como están" y "según disponibilidad" para su uso, sin ninguna representación, garantía o condición de ningún tipo, ya sea expresa o implícita, entre las que se incluyen todas las garantías implícitas o condiciones de comerciabilidad, calidad comercial, idoneidad para un propósito particular, durabilidad, título y no violación.</p>
    <p>5. En ningún caso TecnoStore, nuestros directores, funcionarios, empleados, afiliados, agentes, contratistas, pasantes, proveedores, proveedores de servicios o licenciantes serán responsables de cualquier lesión, pérdida, reclamo o cualquier daño directo, indirecto, incidental, punitivo, especial o consecuente de cualquier tipo, incluyendo de manera enunciativa más no limitativa; la pérdida de beneficios, pérdida de ingresos, pérdida de ahorros, pérdida de datos, costos de reemplazo o daños similares, ya sea por contrato, perjuicio (incluida la negligencia), responsabilidad estricta o de otro tipo, que surjan del uso que haga de cualquiera de los servicios o de cualquier producto adquirido por medio del servicio, o para cualquier otro reclamo relacionado de alguna manera con su uso del servicio o de cualquier producto, incluidos, entre otros, cualquier error u omisión en cualquier contenido, o cualquier pérdida o daño de cualquier tipo en el que se haya incurrido como resultado del uso del servicio o de cualquier contenido (o producto) publicado, transmitido o puesto a disposición a través del servicio, incluso si se informa de su posibilidad.</p>
    <p>6. Debido a que algunos estados o jurisdicciones no permiten la exclusión o la limitación de la responsabilidad por daños consecuentes o incidentales, en dichos estados o jurisdicciones, nuestra responsabilidad se limitará a la extensión máxima de lo permitido por la ley.</p>
    
    <h4 class="display-4 dark" id="14">SECCIÓN 14: INDEMNIZACIÓN</h4>
    <p>Usted acepta indemnizar, defender y mantener indemne a TecnoStore y a nuestra empresa matriz, subsidiarias, afiliadas, asociados, funcionarios, directores, agentes, contratistas, licenciantes, proveedores de servicios, subcontratistas, proveedores, pasantes y empleados, de cualquier reclamo o demanda, incluidos los honorarios razonables de abogados, en los que un tercero haya incurrido debido a su incumplimiento de los presentes Términos del servicio o de los documentos que incorporan como referencia o que surjan por su incumplimiento de los mismos, o por la violación de cualquier ley o derechos de un tercero que haga.</p>
    
    <h4 class="display-4 dark" id="15">SECCIÓN 15: DIVISIBILIDAD</h4>
    <p>En caso de que se determine que alguna disposición de los presentes Términos del servicio sea ilegal, nula o inaplicable, dicha disposición será, no obstante, ejecutable en la medida en que lo permita la legislación aplicable, y la parte inaplicable se considerará separada de los presentes Términos del servicio, sin que dicha determinación afecte a la validez y aplicabilidad de las demás disposiciones.</p>
    
    <h4 class="display-4 dark" id="16">SECCIÓN 16: RESCISIÓN</h4>
    <p>1. Las obligaciones y responsabilidades de las partes incurridas antes de la fecha de rescisión seguirán vigentes después de la rescisión de este contrato a todos los efectos.</p>
    <p>2. Estos Términos del servicio se encuentran vigentes a menos que usted o nosotros los rescindamos.</p>
    <p>3. Puede rescindir los presentes Términos del servicio en cualquier momento al notificarnos que ya no desea utilizar nuestros Servicios o cuando cese de utilizar nuestro sitio.</p>
    <p>4. Si a nuestro juicio usted incumple, o sospechamos que ha incumplido con cualquier término o disposición de los presentes Términos del servicio, podemos rescindir igualmente este acuerdo en cualquier momento sin previo aviso y usted seguirá siendo responsable de todos los importes adeudados, hasta la fecha de rescisión inclusive; y/o en consecuencia podemos denegarle el acceso a nuestros Servicios (o a parte de ellos).</p>
    
    <h4 class="display-4 dark" id="17">SECCIÓN 17: ACUERDO COMPLETO</h4>
    <p>1. El hecho de que no ejerzamos o hagamos valer algún derecho o disposición de los presentes Términos del Servicio no constituirá una renuncia a dicho derecho o disposición.</p>
    <p>2. Estos Términos de servicio y cualquier política o regla de funcionamiento que hayamos publicado en este sitio o con respecto al Servicio constituye el acuerdo y el entendimiento completo entre usted y nosotros, y rigen su uso del Servicio, sustituyendo a cualquier acuerdo, comunicación o propuesta anterior o contemporánea, ya sea oral o escrita, entre usted y nosotros (incluyendo de manera enunciativa más no limitativa, las versiones anteriores de los Términos del servicio).</p>
    <p>3. Cualquier ambigüedad en la interpretación de los presentes Términos del servicio no se interpretará en contra de la parte redactora.</p>
    
    <h4 class="display-4 dark" id="18">SECCIÓN 18: LEY APLICABLE</h4>
    <p>Los presentes Términos del servicio y cualquier acuerdo por separado por el cual le proporcionemos Servicios se regirán e interpretarán de acuerdo con las leyes de  Av. Venustiano Carranza No. 1350-Nte, Centro, Monterrey, NL, 64000 , México.</p>
    
    <h4 class="display-4 dark" id="19">SECCIÓN 19: CAMBIOS EN LOS TÉRMINOS DEL SERVICIO</h4>
    <p>1. Puede revisar la versión más reciente de los Términos del servicio en cualquier momento en esta página.</p>
    <p>2. Nos reservamos el derecho, a nuestra entera discreción, de actualizar, cambiar o sustituir cualquier parte de los presentes Términos del servicio mediante la publicación de actualizaciones y cambios en nuestro sitio web.</p>
    <p>3. Es su responsabilidad consultar nuestro sitio web periódicamente para ver los cambios.</p>
    <p>4. El uso que haga de nuestra página web o del Servicio o su acceso a cualquiera de estos de forma continua después de la publicación de cualquier cambio en los presentes Términos del servicio, constituye la aceptación de dichos cambios.</p>
    
    <h4 class="display-4 dark" id="20">SECTION 20: INFORMACIÓN DE CONTACTO</h4>
    <p>Las preguntas sobre los Términos del servicio se deben enviar a al44026@un.edu.mx.</p>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary"><ion-icon name="arrow-back-outline"></ion-icon>Volver al home</a>
</div>